
h1 {
    font-family: 'Monospace', sans-serif;
    color: orange;
}

h5 {
    font-family: 'Monospace', sans-serif;
    color: #00b8d4;
}
p {
    font-family: 'Roboto mono', Monospace;
    color: coral !important;
}

.lead.text-muted {
        color: lavender !important;
    }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card {
    border: .1rem solid coral !important;
}